.charts-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.chart {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 3px 3px 0px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-product {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 3px 3px 0px gray;
}
.chart:hover {
  box-shadow: none;
}
.top-product:hover {
  box-shadow: none;
}
.chart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chart-title h1 {
  font-size: 18px;
  font-weight: bold;
  color: rgb(48, 47, 47);
}
.chart-info h1 {
  font-size: 18px;
  font-weight: bold;
  color: #7d8189;
  margin-top: 15px;
}
.chart-info h2 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 5px;
  color: rgb(48, 47, 47);
}
.chart-status {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.chart-status span {
  font-size: 18px;
  color: #7d8189;
}
.curent {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3b76e1;
  display: inline-block;
  margin-right: 5px;
}
.previus {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f36e6e;
  display: inline-block;
  margin-right: 5px;
}
.chart-body {
  width: 100%;
}

/* Top Product  */
.product-items {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.item-left {
  width: 100%;
  display: flex;
  gap: 10px;
}
.number {
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: #77a0ea;
  padding: 8px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product h1 {
  font-size: 18px;
  color: rgb(48, 47, 47);
}
.product h2 {
  font-size: 16px;
  color: gray;
}
.user {
  padding: 10px 20px;
  background-color: #f5f6f8;
  border-radius: 8px;
}
@media screen and (max-width: 1200px) {
  .charts-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
}
