.charts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

/* Activity Chart  */
.chart {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 3px 3px 0px gray;
}
.chart:hover {
  box-shadow: none;
}
