/* Overview section  */
.overview-container {
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
}

/* Header style  */
.overview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview-header > h1 {
  font-size: 18px;
  font-weight: bold;
  color: rgb(48, 47, 47);
}
.overview-header > h2 {
  font-size: 16px;
  font-weight: bold;
  color: #7d8189;
}
.dropdown-overview {
  position: absolute;
  top: 40px;
  right: -10px;
  width: 90px;
  background-color: transparent;
  border-radius: 8px;
  padding: 1rem 0.5rem;
  overflow: hidden;
  z-index: 6;
}
.overview-sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

/* Overview main section style  */
.overview-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 1rem 0rem;
}

/* left side style  */
.overview-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
.overview-left .top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.overview-left .top h2 {
  font-size: 16px;
  font-weight: bold;
  color: #7d8189;
}
.overview-left .top h1 {
  font-size: 22px;
  font-weight: bold;
  color: rgb(48, 47, 47);
  padding-top: 5px;
}
.overview-left .top h3 {
  font-size: 14px;
  background-color: #eff7f0;
  color: #7dbb88;
  border-radius: 10px;
  padding: 8px 10px;
  align-self: flex-end;
}
.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bottom-item {
  border-bottom: 1px solid lightgray;
}
.bottom div:nth-child(odd) {
  border-right: 1px solid lightgray;
}
.bottom div:nth-child(n) {
  padding: 15px;
}

.bottom h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  color: #7d8189;
}
.bottom h2 {
  font-size: 20px;
  padding: 5px;
  color: rgb(63, 63, 63);
}
/* Right side chart style  */
.overview-right {
  flex: 2;
}
@media screen and (max-width: 1200px) {
  .overview-main {
    flex-direction: column;
  }
  .dropdown-overview {
    width: 50px;
  }
  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
  .bottom div:nth-child(odd) {
    border-right: none;
  }
  .bottom div:nth-child(n) {
    border-bottom: 1px solid lightgray;
  }
}

@media screen and (max-width: 768px) {
  .overview-items {
    flex-direction: column;
  }
  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
