.Cards {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.parentContainer {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .Cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
